{% extends 'pages/home.html.twig' %}

{% block title %}Zgłoszenia{% endblock %}




{% block content %}
    <div id="" class="container my-24 mx-auto md:px-6 w-[600px] text-white rounded-lg">
        <div class="bg-white overflow-hidden shadow rounded-lg border">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Zgłoszenia
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Poniżej znajduje się formularz dotyczący zgłoszeń, jeżeli ujawniłeś jakąś usterkę bądź napotkałeś jakiś inny problem, wypełnij formularz.
                </p>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Jeśli chcesz zobaczyć swoje zgłoszenia <a href="/list-defects" class="text-blue-500 font-bold underline">kliknij tutaj</a>
                </p>
            </div>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                {{ form_start(defectsForm, {'attr': {'class': 'sm:divide-y sm:divide-gray-200 text-black flex justify-center'}}) }}
                <div class="mt-3 w-full px-6">
                    {{ form_row(defectsForm.numberPhone, {'attr': {
                        'placeholder': 'Numer telefonu',
                        'autofocus': true,
                        'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
                                focus:shadow-outline border-black'}}) }}
                    {% for error in defectsForm.vars.errors %}
                        <div class="text-red-500 text-xs font-bold">{{ error.message }}</div>
                    {% endfor %}
                    <br>
                    {{ form_row(defectsForm.description, {'attr': {
                        'placeholder': 'Opis problemu',
                        'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
                                focus:shadow-outline border-black'}}) }}

                    <button type="submit" class="mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                    rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Wyślij zgłoszenie
                    </button>
                </div>
                {{ form_end(defectsForm) }}
            </div>
        </div>
    </div>
{% endblock %}