{% extends 'pages/home.html.twig' %}

{% block title %}Zgłoszenie usterki{% endblock %}




{% block content %}
    <div id="" class="container my-24 mx-auto md:px-6 md:py-6 w-full text-white rounded-lg flex justify-center" style="background-image: url('/upload/gallery/10060.jpg')">
        <div class="bg-white/30 overflow-hidden shadow rounded-lg border w-[600px] my-10" style="backdrop-filter: blur(8px)">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Zgłoszenie usterki
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Poniżej znajduje się formularz dotyczący zgłoszenia ujawnionej usterki w realizowanym bądź zrealizowanym projekcie.
                </p>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Jeśli chcesz zobaczyć swoje zgłoszenia <a href="/list-defects" class="text-blue-500 font-bold underline">kliknij tutaj</a>
                </p>
            </div>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                {{ form_start(defectsForm, {'attr': {'class': 'sm:divide-y sm:divide-gray-200 text-black flex justify-center'}}) }}
                <div class="mt-3 w-full px-6">
                    <div class="mb-2">
                        {{ form_row(defectsForm.name, {'attr': {
                            'placeholder': 'Imię',
                            'autofocus': true,
                            'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
                                    focus:shadow-outline border-black'}}) }}
                    </div>
                    <div class="mb-2">
                        {{ form_row(defectsForm.surname, {'attr': {
                            'placeholder': 'Nazwisko',
                            'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
                                    focus:shadow-outline border-black'}}) }}
                    </div>
                    <div class="mb-2">
                        {{ form_row(defectsForm.numberPhone, {'attr': {
                            'placeholder': 'Numer telefonu',
                            'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
                                    focus:shadow-outline border-black'}}) }}
                    </div>
                    <div class="mb-2 ">
                        <div class=" font-medium text-gray-500 flex items-center space-x-2">
                            <label data-tooltip-placement="bottom" data-tooltip-target="tooltip-no-arrow1" type="button" class="flex items-center focus:ring-4
                                focus:outline-none focus:ring-blue-300
                                dark:focus:ring-blue-800 block text-gray-700 font-bold mb-1">
                                Numer zamówienia wizyty specjalisty
                                <div class="flex items-center justify-center w-5 h-5 font-bold text-blue-700 rounded-full ml-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M12 2a10 10 0 110 20 10 10 0 010-20z" />
                                    </svg>
                                </div>
                            </label>
                            <div id="tooltip-no-arrow1" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                                Numer wizyty w której ujawniono usterkę w trakcie/po realizacji projektu.
                            </div>
                        </div>
                        <p data-tooltip-target="tooltip-no-arrow1" type="button" class="flex items-center text-gray-500 hover:bg-blue-800 focus:ring-4
                                focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm dark:bg-blue-600
                                dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                            {{ form_row(defectsForm.visitNumber, {'attr': {
                                'id': 'visitNumber',
                                'placeholder': 'Numer wizyty',
                                'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
                                    focus:shadow-outline border-black'}}) }}
                    </div>
                    <div>
                        {{ form_row(defectsForm.description, {'attr': {
                            'placeholder': 'Opis usterki',
                            'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none
                                    focus:shadow-outline border-black'}}) }}
                    </div>

                    <div class="mt-2">
                        {% for error in defectsForm.vars.errors %}
                            <div class="text-red-500 text-xs font-bold">{{ error.message }}</div>
                        {% endfor %}
                        {% for flashMessage in app.flashes('error') %}
                            <div class="text-red-500 text-xs font-bold">{{ flashMessage }}</div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="mb-2 w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium
                                    rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        Wyślij zgłoszenie
                    </button>
                </div>
                {{ form_end(defectsForm) }}
            </div>
        </div>
    </div>
{% endblock %}