{% extends 'pages/home.html.twig' %}

{% block title %}Lista zgłoszeń{% endblock %}



{% block content %}
    <div id="" class="container my-24 mx-auto md:px-6 w-full text-white rounded-lg">
        <div class="bg-white overflow-hidden shadow rounded-lg border">
            <div class="px-4 py-5 sm:px-6">
                <h1 class="text-lg leading-6 font-medium text-gray-900">
                    Lista Twoich zgłoszeń
                </h1>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Poniżej znajdują się Twoje zgłoszenia.
                </p>
                <table class="min-w-full divide-y divide-gray-200 mt-2">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">ID</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Numer zgłoszenia</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Adres e-mail</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Numer telefonu</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Data utworzenia</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Status</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200 text-sm text-black">
                    {% for defect in defects %}
                        {% if defect is not null %}
                            <tr>
                                <td class="px-6 py-3 text-left text-base font-bold text-black tracking-wider whitespace-nowrap">{{ defect.id }}</td>
                                <td class="px-6 py-3 text-left text-base font-bold text-black tracking-wider whitespace-nowrap">{{ defect.defectNumber }}</td>
                                <td class="px-6 py-3 text-left text-base font-bold text-black tracking-wider whitespace-nowrap">{{ defect.email }}</td>
                                <td class="px-6 py-3 text-left text-base font-bold text-black tracking-wider whitespace-nowrap">{{ defect.numberPhone }}</td>
                                <td class="px-6 py-3 text-left text-base font-bold text-black tracking-wider whitespace-nowrap">{{ defect.createdDate }}</td>
                                <td class="px-6 py-3 text-left text-base font-bold text-black tracking-wider whitespace-nowrap">
                                    {% if defect.status == 'OTWARTE' %}
                                        <strong class="font-bold text-green-600">{{ defect.status }}</strong>
                                    {% elseif defect.status == 'W TRAKCIE' %}
                                        <strong class="font-bold text-yellow-500">{{ defect.status }}</strong>
                                    {% else %}
                                        <strong class="font-bold text-red-600">{{ defect.status }}</strong>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="px-6 py-4">
                                    <strong><p class="text-black">TREŚĆ ZGŁOSZENIA:</p></strong>
                                    <article>
                                        <p class="mt-2 whitespace-normal">{{ defect.description }}</p>
                                    </article>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('.show-more-btn').forEach(button => {
            button.addEventListener('click', () => {
                const parent = button.parentElement;
                const shortDescription = parent.querySelector('.short-description');
                const fullDescription = parent.querySelector('.full-description');

                if (fullDescription.style.display === 'none') {
                    shortDescription.style.display = 'none';
                    fullDescription.style.display = 'inline';
                    button.textContent = 'Ukryj opis';
                } else {
                    shortDescription.style.display = 'inline';
                    fullDescription.style.display = 'none';
                    button.textContent = 'Pokaż cały opis';
                }
            });
        });
    </script>
{% endblock %}