{% extends 'pages/home.html.twig' %}

{% block title %}Zgłoszenie {{ defect.defectNumber }}{% endblock %}


{% block content %}
    <div id="" class="container my-24 mx-auto md:px-6 w-full text-white rounded-lg">
        <div class="bg-white overflow-hidden shadow rounded-lg border">
            <div class="px-4 py-5 sm:px-6">
                <h3 class="text-lg leading-6 font-medium text-gray-900">
                    Zgłoszenie {{ defect.defectNumber }}
                </h3>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Poniżej znajdziesz szczegóły wybranego zgłoszenia.
                </p>
                <a href="/admin/list-all-defects" class="underline text-blue-300 text-sm">Wróć do listy zgłoszeń</a>
            </div>
            <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
                <dl class="sm:divide-y sm:divide-gray-200">
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            ID
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ defect.id }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Numer zgłoszenia
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ defect.defectNumber }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Adres e-mail
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ defect.email }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Numer telefonu
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ defect.numberPhone }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Data utworzenia
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ defect.createdDate }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Treść zgłoszenia
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {{ defect.description }}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Status zgłoszenia
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {% if defect.status == 'OTWARTE' %}
                                <strong class="font-bold text-green-600">{{ defect.status }}</strong>
                            {% elseif defect.status == 'W TRAKCIE' %}
                                <strong class="font-bold text-yellow-500">{{ defect.status }}</strong>
                            {% else %}
                                <strong class="font-bold text-red-600">{{ defect.status }}</strong>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                        <dt class="text-sm font-medium text-gray-500">
                            Akcje
                        </dt>
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            {% if defect.status == 'OTWARTE' %}
                                <form method="post" action="{{ path('app_list_all_defects_close', {'id': defect.id}) }}">
                                    <button type="submit" class="text-red-600 font-bold">ZAMKNIJ</button>
                                </form>
                                <form method="post" action="{{ path('app_list_all_defects_in_process', {'id': defect.id}) }}">
                                    <button type="submit" class="text-yellow-500 font-bold">W TRAKCIE</button>
                                </form>
                            {% elseif defect.status == 'ZAMKNIĘTE' %}
                                <form method="post" action="{{ path('app_list_all_defects_open', {'id': defect.id}) }}">
                                    <button type="submit" class="text-green-600 font-bold">OTWÓRZ</button>
                                </form>
                                <form method="post" action="{{ path('app_list_all_defects_in_process', {'id': defect.id}) }}">
                                    <button type="submit" class="text-yellow-500 font-bold">W TRAKCIE</button>
                                </form>
                            {% else %}
                                <form method="post" action="{{ path('app_list_all_defects_close', {'id': defect.id}) }}">
                                    <button type="submit" class="text-red-600 font-bold">ZAMKNIJ</button>
                                </form>
                                <form method="post" action="{{ path('app_list_all_defects_open', {'id': defect.id}) }}">
                                    <button type="submit" class="text-green-600 font-bold">OTWÓRZ</button>
                                </form>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <form method="post" action="{{ path('app_list_all_defects_delete', {'id': defect.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć te zgłoszenie?');">
                                    <button type="submit" class="text-red-600 font-bold mt-2">USUŃ ZGŁOSZENIE</button>
                                </form>
                            {% endif %}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}
