{% extends 'pages/home.html.twig' %}

{% block title %}Lista użytkowników{% endblock %}



{% block content %}
    <div id="" class="container my-24 mx-auto md:px-6 w-full text-white rounded-lg">
        <div class="bg-white overflow-hidden shadow rounded-lg border">
            <div class="px-4 py-5 sm:px-6">
                <h1 class="text-lg leading-6 font-medium text-gray-900">
                    Lista wszystkich użytkowników
                </h1>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Poniżej znajdują się wszyscy zarejestrowani użytkownicy.
                </p>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Jeśli chcesz znależć konkretnego użytkownika, wpisz poniżej jego adres e-mail.
                </p>
                <div class="mb-3 mt-3">
                    <form action="{{ path('app_list_all_clients') }}" method="get" class="w-[450px] flex">
                        <input
                                id="email-client"
                                name="email-client"
                                type="email"
                                class="relative m-0 -mr-0.5 block min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                                placeholder="Szukaj użytkownika"
                                aria-label="Search"
                                aria-describedby="button-addon3" />

                        <button
                                class="relative z-[2] rounded-r border-2 border-primary px-6 py-2 text-xs font-medium uppercase text-primary transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                                type="submit"
                                id="button-addon3"
                                data-te-ripple-init>
                            Szukaj
                        </button>
                    </form>
                </div>

                <!-- Wyświetlanie jednego użytkownika -->
                {% if client %}
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">ID</th>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Adres e-mail</th>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Login</th>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Status konta</th>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Rola</th>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Data utworzenia konta</th>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Adres IP</th>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Akcje</th>
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 text-sm text-black">
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{ client.id }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ client.email }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ client.login }}</td>
                            {% if client.confirmAccount == 'Aktywne' %}
                                <td class="px-6 py-4 whitespace-nowrap text-green-600 font-bold">{{ client.confirmAccount }}</td>
                            {% else %}
                                <td class="px-6 py-4 whitespace-nowrap text-red-600 font-bold">{{ client.confirmAccount }}</td>
                            {% endif %}
                            <td class="px-6 py-4 whitespace-nowrap">
                                {% if 'ROLE_OWNER' in client.roles %}
                                    <p>ROLE_OWNER</p>
                                {% endif %}
                                {% if 'ROLE_SUPER_ADMIN' in client.roles %}
                                    <p>ROLE_SUPER_ADMIN</p>
                                {% endif %}
                                {% if 'ROLE_ADMIN' in client.roles %}
                                    <p>ROLE_ADMIN</p>
                                {% endif %}
                                {% if 'ROLE_USER' in client.roles %}
                                    <p>ROLE_USER</p>
                                {% endif %}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ client.createdDate }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ client.IP }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {% if is_granted('ROLE_OWNER') %}
                                    {% if client.id != app.user.id %}
                                        {% if client.confirmAccount == 'Aktywne' %}
                                            <form method="post" action="{{ path('app_list_all_clients_ban', {'id': client.id}) }}">
                                                <button type="submit" class="text-red-600 font-bold">Zablokuj</button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{{ path('app_list_all_clients_active', {'id': client.id}) }}">
                                                <button type="submit" class="text-green-600 font-bold">Aktywuj</button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% elseif is_granted('ROLE_SUPER_ADMIN') %}
                                    {% if client.id != app.user.id and 'ROLE_OWNER' not in client.roles %}
                                        {% if client.confirmAccount == 'Aktywne' %}
                                            <form method="post" action="{{ path('app_list_all_clients_ban', {'id': client.id}) }}">
                                                <button type="submit" class="text-red-600 font-bold">Zablokuj</button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{{ path('app_list_all_clients_active', {'id': client.id}) }}">
                                                <button type="submit" class="text-green-600 font-bold">Aktywuj</button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% elseif is_granted('ROLE_ADMIN') %}
                                    {% if client.id != app.user.id and 'ROLE_OWNER' not in client.roles and 'ROLE_SUPER_ADMIN' not in client.roles %}
                                        {% if client.confirmAccount == 'Aktywne' %}
                                            <form method="post" action="{{ path('app_list_all_clients_ban', {'id': client.id}) }}">
                                                <button type="submit" class="text-red-600 font-bold">Zablokuj</button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{{ path('app_list_all_clients_active', {'id': client.id}) }}">
                                                <button type="submit" class="text-green-600 font-bold">Aktywuj</button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                {% endif %}

                <!-- Wyświetlanie wszystkich użytkowników -->

                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">ID</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Adres e-mail</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Login</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Status konta</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Rola</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Data utworzenia konta</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Adres IP</th>
                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Akcje</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200 text-sm text-black">
                    {% for client in clients %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap">{{ client.id }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ client.email }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ client.login }}</td>
                            {% if client.confirmAccount == 'Aktywne' %}
                                    <td class="px-6 py-4 whitespace-nowrap text-green-600 font-bold">{{ client.confirmAccount }}</td>
                                {% else %}
                                    <td class="px-6 py-4 whitespace-nowrap text-red-600 font-bold">{{ client.confirmAccount }}</td>
                            {% endif %}
                            <td class="px-6 py-4 whitespace-nowrap">
                                {% if 'ROLE_OWNER' in client.roles %}
                                    <p>ROLE_OWNER</p>
                                {% endif %}
                                {% if 'ROLE_SUPER_ADMIN' in client.roles %}
                                    <p>ROLE_SUPER_ADMIN</p>
                                {% endif %}
                                {% if 'ROLE_ADMIN' in client.roles %}
                                    <p>ROLE_ADMIN</p>
                                {% endif %}
                                {% if 'ROLE_USER' in client.roles %}
                                    <p>ROLE_USER</p>
                                {% endif %}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ client.createdDate }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">{{ client.IP }}</td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                {% if is_granted('ROLE_OWNER') %}
                                    {% if client.id != app.user.id %}
                                        {% if client.confirmAccount == 'Aktywne' %}
                                            <form method="post" action="{{ path('app_list_all_clients_ban', {'id': client.id}) }}">
                                                <button type="submit" class="text-red-600 font-bold">Zablokuj</button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{{ path('app_list_all_clients_active', {'id': client.id}) }}">
                                                <button type="submit" class="text-green-600 font-bold">Aktywuj</button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% elseif is_granted('ROLE_SUPER_ADMIN') %}
                                    {% if client.id != app.user.id and 'ROLE_OWNER' not in client.roles %}
                                        {% if client.confirmAccount == 'Aktywne' %}
                                            <form method="post" action="{{ path('app_list_all_clients_ban', {'id': client.id}) }}">
                                                <button type="submit" class="text-red-600 font-bold">Zablokuj</button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{{ path('app_list_all_clients_active', {'id': client.id}) }}">
                                                <button type="submit" class="text-green-600 font-bold">Aktywuj</button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% elseif is_granted('ROLE_ADMIN') %}
                                    {% if client.id != app.user.id and 'ROLE_OWNER' not in client.roles and 'ROLE_SUPER_ADMIN' not in client.roles %}
                                        {% if client.confirmAccount == 'Aktywne' %}
                                            <form method="post" action="{{ path('app_list_all_clients_ban', {'id': client.id}) }}">
                                                <button type="submit" class="text-red-600 font-bold">Zablokuj</button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{{ path('app_list_all_clients_active', {'id': client.id}) }}">
                                                <button type="submit" class="text-green-600 font-bold">Aktywuj</button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}