{% extends 'pages/home.html.twig' %}

{% block title %}Lista zgłoszeń{% endblock %}



{% block content %}
    <div id="" class="container my-24 mx-auto md:px-6 w-full text-white rounded-lg">
        <div class="bg-white overflow-hidden shadow rounded-lg border">
            <div class="px-4 py-5 sm:px-6">
                <h1 class="text-lg leading-6 font-medium text-gray-900">
                    Lista wszystkich zgłoszeń
                </h1>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Poniżej znajdują się wszystkie zgłoszenia.
                </p>
                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                    Jeśli chcesz znależć konkretne zgłoszenie, wpisz poniżej jego numer.
                </p>
                <div class="mb-3 mt-3">
                    <form action="{{ path('app_list_all_defects') }}" method="get" class="w-[450px] flex">
                        <input
                                id="number-defects"
                                name="number-defects"
                                type="text"
                                class="relative m-0 -mr-0.5 block min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
                                placeholder="Szukaj zgłoszenia"
                                aria-label="Search"
                                aria-describedby="button-addon3" />

                        <button
                                class="relative z-[2] rounded-r border-2 border-primary px-6 py-2 text-xs font-medium uppercase text-primary transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0"
                                type="submit"
                                id="button-addon3"
                                data-te-ripple-init>
                            Szukaj
                        </button>
                    </form>
                </div>

                <!-- Wyświetlanie jednego złoszenia -->
                <div class="relative overflow-x-auto">

                    {% if defect %}
                        <div class="border-t border-gray-200 px-4 py-5 sm:p-0 text-gray-900">
                            <div class="mt-3 mb-3">
                                <p><strong class="text-green-600">SZUKANE ZGŁOSZENIE</strong></p>
                                <table class="min-w-full divide-y divide-gray-200">
                                    <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">ID</th>
                                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Numer zgłoszenia</th>
                                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Adres e-mail</th>
                                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Status</th>
{#                                        <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Akcje</th>#}
                                    </tr>
                                    </thead>
                                    <tbody class="bg-white divide-y divide-gray-200 text-sm text-black">
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap">{{ defect.id }}</td>
                                        <td class="px-6 py-4 whitespace-nowrap">{{ defect.defectNumber }}
                                            <p class="text-blue-500 text-xs">
                                                <a href="{{ path('app_defects_show', { id: defect.id }) }}">Zobacz szczegóły</a>
                                            </p>
                                        </td>
                                        <td class="px-6 py-4 whitespace-nowrap">{{ defect.email }}</td>
                                        <td class="px-6 py-4 whitespace-nowrap">
                                            {% if defect.status == 'OTWARTE' %}
                                                <strong class="font-bold text-green-600">{{ defect.status }}</strong>
                                            {% elseif defect.status == 'W TRAKCIE' %}
                                                <strong class="font-bold text-yellow-500">{{ defect.status }}</strong>
                                            {% else %}
                                                <strong class="font-bold text-red-600">{{ defect.status }}</strong>
                                            {% endif %}
                                        </td>
{#                                        <td class="px-6 py-4 whitespace-nowrap">#}
{#                                            {% if defect.status == 'OTWARTE' %}#}
{#                                                <form method="post" action="{{ path('app_list_all_defects_close', {'id': defect.id}) }}">#}
{#                                                    <button type="submit" class="text-red-600 font-bold">ZAMKNIJ</button>#}
{#                                                </form>#}
{#                                                <form method="post" action="{{ path('app_list_all_defects_in_process', {'id': defect.id}) }}">#}
{#                                                    <button type="submit" class="text-yellow-500 font-bold">W TRAKCIE</button>#}
{#                                                </form>#}
{#                                            {% elseif defect.status == 'ZAMKNIĘTE' %}#}
{#                                                <form method="post" action="{{ path('app_list_all_defects_open', {'id': defect.id}) }}">#}
{#                                                    <button type="submit" class="text-green-600 font-bold">OTWÓRZ</button>#}
{#                                                </form>#}
{#                                                <form method="post" action="{{ path('app_list_all_defects_in_process', {'id': defect.id}) }}">#}
{#                                                    <button type="submit" class="text-yellow-500 font-bold">W TRAKCIE</button>#}
{#                                                </form>#}
{#                                            {% else %}#}
{#                                                <form method="post" action="{{ path('app_list_all_defects_close', {'id': defect.id}) }}">#}
{#                                                    <button type="submit" class="text-red-600 font-bold">ZAMKNIJ</button>#}
{#                                                </form>#}
{#                                                <form method="post" action="{{ path('app_list_all_defects_open', {'id': defect.id}) }}">#}
{#                                                    <button type="submit" class="text-green-600 font-bold">OTWÓRZ</button>#}
{#                                                </form>#}
{#                                            {% endif %}#}
{#                                            {% if is_granted('ROLE_SUPER_ADMIN') %}#}
{#                                                <form method="post" action="{{ path('app_list_all_defects_delete', {'id': defect.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć te zgłoszenie?');">#}
{#                                                    <button type="submit" class="text-red-600 font-bold mt-2">USUŃ ZGŁOSZENIE</button>#}
{#                                                </form>#}
{#                                            {% endif %}#}
{#                                        </td>#}
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>


                <!-- Wyświetlanie wszystkich zgłoszeń -->

                <div class="relative overflow-x-auto">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">ID</th>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Numer zgłoszenia</th>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Adres e-mail</th>
                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Status</th>
{#                            <th scope="col" class="px-6 py-3 text-left text-base font-bold text-black uppercase tracking-wider">Akcje</th>#}
                        </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 text-sm text-black">
                        {% for defect in defects %}
                            {% if defect is not null %}
                                <tr>
                                    <td class="px-6 py-4 whitespace-nowrap">{{ defect.id }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">{{ defect.defectNumber }}
                                        <p class="text-blue-500 text-xs">
                                            <a href="{{ path('app_defects_show', { id: defect.id }) }}">Zobacz szczegóły</a>
                                        </p>
                                    </td>
                                    <td class="px-6 py-4 whitespace-nowrap">{{ defect.email }}</td>
                                    <td class="px-6 py-4 whitespace-nowrap">
                                        {% if defect.status == 'OTWARTE' %}
                                            <strong class="font-bold text-green-600">{{ defect.status }}</strong>
                                        {% elseif defect.status == 'W TRAKCIE' %}
                                            <strong class="font-bold text-yellow-500">{{ defect.status }}</strong>
                                        {% else %}
                                            <strong class="font-bold text-red-600">{{ defect.status }}</strong>
                                        {% endif %}
                                    </td>
{#                                    <td class="px-6 py-4 whitespace-nowrap">#}
{#                                        {% if defect.status == 'OTWARTE' %}#}
{#                                            <form method="post" action="{{ path('app_list_all_defects_close', {'id': defect.id}) }}">#}
{#                                                <button type="submit" class="text-red-600 font-bold">ZAMKNIJ</button>#}
{#                                            </form>#}
{#                                            <form method="post" action="{{ path('app_list_all_defects_in_process', {'id': defect.id}) }}">#}
{#                                                <button type="submit" class="text-yellow-500 font-bold">W TRAKCIE</button>#}
{#                                            </form>#}
{#                                        {% elseif defect.status == 'ZAMKNIĘTE' %}#}
{#                                            <form method="post" action="{{ path('app_list_all_defects_open', {'id': defect.id}) }}">#}
{#                                                <button type="submit" class="text-green-600 font-bold">OTWÓRZ</button>#}
{#                                            </form>#}
{#                                            <form method="post" action="{{ path('app_list_all_defects_in_process', {'id': defect.id}) }}">#}
{#                                                <button type="submit" class="text-yellow-500 font-bold">W TRAKCIE</button>#}
{#                                            </form>#}
{#                                        {% else %}#}
{#                                            <form method="post" action="{{ path('app_list_all_defects_close', {'id': defect.id}) }}">#}
{#                                                <button type="submit" class="text-red-600 font-bold">ZAMKNIJ</button>#}
{#                                            </form>#}
{#                                            <form method="post" action="{{ path('app_list_all_defects_open', {'id': defect.id}) }}">#}
{#                                                <button type="submit" class="text-green-600 font-bold">OTWÓRZ</button>#}
{#                                            </form>#}
{#                                        {% endif %}#}
{#                                        {% if is_granted('ROLE_SUPER_ADMIN') %}#}
{#                                            <form method="post" action="{{ path('app_list_all_defects_delete', {'id': defect.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć te zgłoszenie?');">#}
{#                                                <button type="submit" class="text-red-600 font-bold mt-2">USUŃ ZGŁOSZENIE</button>#}
{#                                            </form>#}
{#                                        {% endif %}#}
{#                                    </td>#}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll('.show-more-btn').forEach(button => {
            button.addEventListener('click', () => {
                const parent = button.parentElement;
                const shortDescription = parent.querySelector('.short-description');
                const fullDescription = parent.querySelector('.full-description');

                if (fullDescription.style.display === 'none') {
                    shortDescription.style.display = 'none';
                    fullDescription.style.display = 'inline';
                    button.textContent = 'Ukryj opis';
                } else {
                    shortDescription.style.display = 'inline';
                    fullDescription.style.display = 'none';
                    button.textContent = 'Pokaż cały opis';
                }
            });
        });
    </script>
{% endblock %}